body {
    font-family: Arial, Helvetica, sans-serif;
}

#orderTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
#orderTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  